:root {
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --primary-bg-color: #ffffff;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

/* logo */
.site-nav .logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: #000000;
  text-decoration: none;
}

.logo .accent-color {
  color: var(--accent-color);
}

/* навигация сайта */

.site-nav .link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current,
.link-adrress:hover,
.link-adrress:focus {
  color: var(--accent-color);
}
.link-adrress {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* Герой */
.title-hero {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: grey;
}

.button {
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

/* Секция особенности */

.title-feature {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.feature-description {
  font-size: 14px;
  line-height: 1.71;
}

/* Секция чем мы занимаемся */

/* Секция Наша команда */

.card-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.card-discription {
  font-size: 16px;
  text-align: center;
}

/* Портфолио */

/* фильтер */
.filter-btn {
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.filter-btn:hover {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* Проэкты */

.project-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
}

.project-discription {
  font-size: 16px;
}

/* Подвал */

footer .logo {
  color: #ffffff;
  background-color: #2f303a;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}

footer .adrress {
  color: #ffffff;
  background-color: #2f303a;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

footer .link {
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  font-weight: 400;
  font-size: 14px;
}
footer .link:hover,
footer .link:focus {
  color: var(--accent-color);
}
