:root {
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section.no-padding-bot {
  padding-bottom: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid tomato;
}

.section {
  padding: 94px 0;
  outline: 2px solid teal;
}

/* Section header */

.section-header {
  padding: 24px 0 25px 0;
}

/* logo */
.site-nav .logo {
  display: inline-block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}

.logo .accent-color {
  color: var(--accent-color);
}

/* навигация сайта */

.site-nav .link {
  display: inline-block;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current,
.link-adrress:hover,
.link-adrress:focus {
  color: var(--accent-color);
}
.link-adrress {
  display: inline-block;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* Герой */
.hero-section {
  text-align: center;
}

.title-hero {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 0 30px 0;

  background-color: grey;
}

.button {
  display: inline-block;
  font-family: roboto;
  color: #ffffff;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0 0 50px 0;
}

/* Секция особенности */

.title-feature {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.feature-description {
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
}

/* Секция чем мы занимаемся */

/* Секция Наша команда */

.card-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin: 30px 0 10px 0;
}

.card-discription {
  font-size: 16px;
  line-height: 1.18;
  margin: 0 0 30px 0;
}

/* Портфолио */

/* фильтер */
.filter {
  margin: 0 0 50px 0;
}

.filter-btn {
  display: inline-block;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
}

.filter-btn:hover {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* Проэкты */

.project-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  Line height 2;
  letter-spacing: 0.06em;
  margin: 20px 0 4px 0;
}

.project-discription {
  font-size: 16px;
  margin: 0 0 20px 0;
}

/* Подвал */

.section-footer {
  padding: 60px 0;
}

footer .logo {
  display: inline-block;
  color: #ffffff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin: 0 0 20px 0;

  background-color: #2f303a;
}

footer .adrress {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin: 0 0 9px 0;

  background-color: #2f303a;
}

footer .link-email,
footer .link-tel {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin: 0 0 9px 0;

  background-color: #2f303a;
}

.section-footer .link-tel {
  margin: 0;
}
footer .link:hover,
footer .link:focus {
  color: var(--accent-color);
}
