:root {
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --cardset-gap: 30px;
  --card-comand-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

body {
  position: relative;
  min-width: 1200px;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section:nth-child(2) {
  padding-bottom: 0px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Hader 
=================================*/

.page-header {
  border-bottom: 1px solid #ececec;
}

.block-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav,
.site-nav,
.adrress-nav {
  display: flex;
  align-items: center;
}

.site-nav > .item:not(:last-child),
.adrress-nav > .item:not(:last-child) {
  margin-right: 50px;
}

.main-nav .logo {
  display: block;
  margin-right: 93px;
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo .accent-color {
  color: var(--accent-color);
}

.site-nav .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-nav {
  margin-right: 10px;
  fill: currentColor;
}

.adrress-nav .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus,
.adrress-nav .link:hover,
.adrress-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
  pointer-events: none;
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-image: url(../images/hover.svg);
}

/* Hero 
================================= */

.hero-section {
  margin-top: -0.02px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/intro.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-inner {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.title-hero {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-section .button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  font-family: roboto;
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* Featurev section  
=================================*/

.section:nth-child(4) {
  background-color: var(--secondary-bg-color);
}

.feature-list {
  display: flex;
  margin-left: -30px;
}

.tumb-feature {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--secondary-bg-color);
}

.feature-list .item {
  width: 270px;
  margin-left: 30px;
}

.title-feature {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-description {
  font-size: 14px;
  line-height: 1.71;
}

/* Our work section 
================================= */

.our-work-list {
  display: flex;
  justify-content: space-between;
}

.our-work-item {
  position: relative;
}
.our-work-text {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

/* Our team section  
=================================*/

.comand-list {
  display: flex;
  justify-content: space-between;
}

.item-comand {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #ffffff;
  box-shadow: var(--card-comand-shadow);
}

.card-content {
  padding-top: 30px;
  margin-bottom: 16px;
  text-align: center;
}

.card-name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.card-discription {
  font-size: 16px;
  line-height: 1.18;
}

.social-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item {
  margin-bottom: 30px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: block;
  padding: 12px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.icon-social {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
}

/* Clients  
=================================*/

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.icon-clients {
  fill: currentColor;
}

/* Portfolio  
=================================*/

.section-cardset {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* filter  
=================================*/
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .item:not(:first-child) {
  margin-left: 8px;
}

.filter-btn {
  display: inline-block;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Project 
=================================*/

.cardset-items {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--cardset-gap));
  margin-top: calc(-1 * var(--cardset-gap));
}

.item-gallery {
  flex-basis: calc(100% / 3 - var(--cardset-gap));
  margin-left: var(--cardset-gap);
  margin-top: var(--cardset-gap);
}
.card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover,
.card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .gallery-overlay,
.card:focus .gallery-overlay {
  transform: translatey(0);
}

.item-gallery .cardset-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-discription {
  font-size: 16px;
  line-height: 1.87;
}

/* backdrop
=================================*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;

  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-back {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url(../images/close-black.svg);
  background-size: 14px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.icon-back:hover,
.icon-back:focus {
  border-width: 2px;
}

/* Footer 
=================================*/

.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.footer-inner {
  display: flex;
}

.section-footer .logo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.section-footer .adrress {
  margin-bottom: 9px;
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.contact-footer .link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer .item:first-child {
  margin-bottom: 9px;
}

.contact-footer .link:hover,
.contact-footer .link:focus {
  color: var(--accent-color);
}

.social-box-footer {
  margin-top: 12px;
  margin-left: 80px;
}
.social-title-footer {
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-footer .social-item {
  margin-bottom: 0;
}
.section-footer .social-link {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.icon-social {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
}
